*, ::after, ::before { box-sizing: border-box; }

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  overflow: hidden;
  background-color: white;
}

#root > header {
  position: fixed;
  width: 100%;
  height: 75.667px;
  z-index: 2;
  transition-property: top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  border-bottom: 1px solid #f3f3f3;
  grid-row: 1;
}

main {
  position: relative;
  top: 75.667px;
  grid-row: 2;
}

footer {
  align-items: revert;
  position: relative;
  grid-row: 3;
  border-top: 1px solid #f3f3f3;
}

footer span {
  font-size: 20px;
}

header img {
  width: 10rem;
}

header a.logo-header {
  grid-column: 3 / span 2;
  margin: 1rem 0 1rem 0;
}

header > nav {
  grid-column: 5/ span 5;
}

header > a.cart-nav {
  grid-column: 10;
  text-align: right;
}

header > nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

h2, h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

button, img {
  border-radius: 8px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

a:link, a:visited {
  text-decoration: none;
  font-size: 20px;
  color:#495E57;
}

a:hover, a:active {
  font-weight: bolder;
  /*color:rgb(49, 49, 49);*/
}

a.icon {
  display: none;
}

img.logo {
  border-radius: 0;
}

fieldset {
  width: 100%;
  max-width: 400px;
  padding: 1em;
  border: none;
}

h1.text-primary {
  display: flex;
  height: calc(100% - 75.667px);
  align-items: center;
  justify-content: center;
}

.box-header-corrector {
  height: 75.667px;
  width: 100%;
}

.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hero-section {
  align-items: center;
  padding: 3rem 0;
}

.highlights-section, .testimonials-section {
  padding: 3rem 0 5rem 0;
  border-bottom: 1px solid #f3f3f3;
}

.form-section {
  grid-template-rows: 2rem 1fr;
  padding: 5rem 0;
  height: calc(100% - 75.667px);
  align-items: center;
}

.hero-section h1 {
  grid-column: 3 / span 4;
}

.hero-section-description {
  grid-row: 2;
  grid-column: 3 / span 4;
}

.hero-section-image {
  grid-row: 1 / span 2;
  grid-column: 7 / span 4;
}

.hero-box-image {
  width: auto;
  min-width: 100px;
  max-width: 100%;
  height: 250px;
  margin-left: 2rem;
  background-image: url("./assets/images/waiter.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.highlights-section header {
  grid-column: 3 / span 8;
  height: auto;
  display:flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.articles-container {
  grid-column: 3 / span 8;
  height: auto;
  display:flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.article-box {
  width: 270px;
  height: auto;
  border-radius: 8px 8px 0 0;
  background-color: #edefee;
  box-shadow: 5px 5px 5px 2px #888888;
}

.article-box-testimonials {
  width: 210px;
  background-color: #edefee;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 2px #888888;
}

.article-box:hover, .article-box-testimonials:hover {
  transform: scale(1.025);
  transition: 1s;
}

.specials-image {
  width: 100%;
  height: 180px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.specials-details {
  padding: 1rem;
  height: calc(100% - 180px);
  display: flex;
  flex-direction: column;
}

.testimonials-section h2 {
  grid-row: 1;
  grid-column: 3 / span 8;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.step-group-one {
  grid-row: 1;
  grid-column: 4 / span 3;
  border-top: 1px dashed #d4d6d6;
  display: flex;
}

.step-group-two {
  grid-row: 1;
  grid-column: 7 / span 3;
  border-top: 1px dashed #d4d6d6;

}

.reservation-button, .details-button, .client-button, .arrow-to-details, .arrow-to-client, .arrow-to-reservation {
  cursor: pointer;
}

.reservation-button:hover, .details-button:hover, .client-button:hover, .arrow-to-details:hover, .arrow-to-client:hover, .arrow-to-reservation:hover {
  scale: 1.1;
  transition: all .5s ease-in-out;
}

.reservation-button {
  color: #495E57;
}

.details-button, .client-button {
  color: #8d8e8e;
}

.step-group-one div:first-child {
  position: relative;
  top: -10px;
  left: 0;
}

.step-group-one div:last-child {
  position: relative;
  top: -10px;
  left: calc(100% - 30px);
}

.step-group-two div {
  position: relative;
  top: -10px;
  float: right;
}

.step-group-one div span, .step-group-two div span {
  position: absolute;
  top: 20px;
  font-size: 14px;
}

.step-group-one div:first-child span {
  left: -27px;
}

.step-group-one div:last-child span {
  left: -50%;
}

.step-group-two div span {
  left: -10px;
}

.form-section form {
  grid-row: 2;
  grid-column: 3 / span 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.form-group {
  min-width: 200px;
  margin-bottom: 1em;
}

.form-group label {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #495E57;
  display: block;
}

.form-control {
  width: 100%;
  max-width: 390px;
  background-color: #f1f3f3;
  border: 1px solid #919e9a;
  font-size: 14px;
  border-radius: 8px;
  height: 40px;
  padding: 10px;
  color: #495E57;
}

textarea.form-control {
  height: revert;
  font-family: Karla;
  font-size: 16px;
}

.form-control:hover {
  border-color: #495E57;
  background-color: #eceeee;
  transition: .3s;
}

.RadioGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.RadioOption {
  font-size: 14px;
}

.RadioOption label {
  font-weight: 500;
}

.confirmed-reservation-section {
  height: calc(100% - 75.667px);
}

.confirmed-reservation-container {
  grid-column: 3 / span 8;
  width: 100%;
  height: 100%;
  position: relative;
}

.bg-success-gif {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  object-fit: contain;
}

.success-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.success-info p {
  text-align: center;
  color: #495E57;
  font-weight: 600;
}

.success-info h1 {
  text-align: center;
  color: #f4ce14;
  margin: 1rem 0;
}

.bg-primary {
  background-color: #495E57;
}

.bg-secondary {
  background-color: #f4ce14;
  color: black;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-primary {
  color: #495E57;
}

.text-secondary {
  color: #f4ce14;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-price {
  color: #ee9972;
}

.item-description {
  font-size: 16px;
  line-height: 1.5;
  max-width: 65ch;
  color: #495E57;
  display: flex;
  flex-grow: 1;
}

.item-delivery {
  margin-top: 0;
}

.grid-img-name {
  display: grid;
  grid-template-columns: 2;
  align-items: center;
  padding: 1rem 0;
}

.review-image {
  grid-column: 1;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.first-name {
  grid-column: 2;
  font-weight: bold;
  font-size: 18px;
}

.user-review {
  font-size: 16px;
  line-height: 1.5;
  color: #495E57;
  overflow: hidden;
}

.about-description {
  grid-column: 3 / span 4;
}

.about-section {
  padding: 5rem 0;
}

.about-section img {
  width: 240px;
  height: 300px;
  object-fit: cover;
}

.about-photos {
  grid-column: 7 / span 4;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
}

.top-photo {
  grid-column: 5 / span 3;
  grid-row: 1;
  z-index: 1;
}

.bottom-photo {
  grid-column: 3 / span 3;
  grid-row: 1;
  padding-top: 20%;
  z-index: -1;
}

.img-border {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.footer-container {
  grid-column: 3 / span 8;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.contact li, .social-media-links li {
  padding-bottom: 10px;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: 3;
  right: 0;
  width: 0;
  bottom: -2px;
  background: #495E57;
  height: 2px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.underline:hover:after, .underline:focus:after, .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

button.bg-secondary:hover {
  background-color: #eae012;
  transition: .3s;
}

button:disabled:hover {
  background-color: #f4ce14;
  transition: none;
  cursor: default;
}

.btn-progress {
  position: relative;
  background-image: url("./assets/images/spinner-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  color: transparent !important;
}

.error-message {
  color: red;
  font-size: 14px;
}

@media screen and (max-width: 1100px) {
  header {grid-template-columns: repeat(4, 1fr);}
  header > nav {
    grid-column: 1;
    grid-row: 1;
  }
  header a.logo-header {
    grid-column: 2 / span 2;
    margin-left: auto;
    margin-right: auto;
  }
  header > nav ul {display: none;}
  header a.icon {
    display: flex;
  }
  header nav a.icon {
    margin-left: 3rem;
  }
  header > a.cart-nav {
    grid-column: 4;
    margin-right: 3rem;
  }
  .about-description {
    grid-column: 1 / span 12;
    grid-row: 1;
    margin: 0 3rem;
  }
  .about-description h2,h3 {
    text-align: center;
  }
  .about-description p {
    text-align: justify;
  }
  .about-section img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  .about-photos {
    grid-row: 2;
    grid-column: 3 / span 8;
    text-align: center;
    padding-top: 1rem;
  }
  .top-photo {
    grid-column: 4 / span 4;
  }
  .bottom-photo {
    grid-column: 2 / span 4;
  }
  .footer-container {
    grid-column: 1 / span 12;
    margin: 0 3rem;
  }
  .step-group-one {
    grid-column: 3 / span 4;
  }
  .step-group-two {
    grid-column: 7 / span 4;
  }
}

@media screen and (max-width: 600px) {
  .about-photos {
    grid-column: 1 / span 12;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .form-section form {
    grid-column: 1 / span 12;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .steplist {
    gap: 7rem;
  }
}

@media screen and (max-width: 1100px) {
  header > nav.responsive ul {
    position: fixed;
    left: 0;
    top: 74.667px;
    gap: 1rem;
    margin: 0;
    width: 9rem;
    background-color: white;
    display: block;
    padding: 0 0 0.25rem 1rem;
    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }
  header > nav.responsive ul li {
    margin-bottom: 0.25rem;
  }
  .highlights-section {
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 850px) {
  .hero-section {grid-template-columns: repeat(4, 1fr);}
  .hero-section h1 {
    grid-row: 1;
    grid-column: 1 / span 4;
    margin-left: 3rem;
  }
  .hero-section-description {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-left: 3rem;
  }
  .hero-section-image {
    grid-row: 2;
    grid-column: 3 / span 2;
    margin-right: 3rem;
  }
  .hero-box-image {
    margin-top: 1rem;
  }
}

/*@media (max-width: 700px) {
  .grid-adjustable-columns {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
  .grid-adjustable-columns {
    width: min(1000px,75rem);
    margin: 0 auto;
    grid-auto-flow: column;
    gap: 1em;
  }
}*/
