header, footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  background-color: aqua;
  overflow: hidden;
}

header img {
  width: 10rem;
  grid-column: 1/ span 2;
  margin: 1rem 0 1rem 2rem;
}

header > nav {
  grid-column: 3/ span 10;
}

header > nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

a:link, a:visited {
  text-decoration: none;
  /*color: rgb(64, 70, 75);*/
}

a:hover, a:active {
  font-weight: bolder;
  /*color:rgb(49, 49, 49);*/
}

a.icon {
  display: none;
}

@media screen and (max-width: 900px) {
  header {grid-template-columns: repeat(3, 1fr);}
  header > nav {
    grid-column: 1;
    grid-row: 1;
  }
  header > img {
    grid-column: 2;
    margin-left: 0;
  }
  header > nav ul {display: none;}
  header a.icon {
    display: flex;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 900px) {
  header > nav.responsive ul {
    position: absolute;
    left: 0;
    top: 75px;
    width: 9rem;
    background-color: aquamarine;
  }
  header > nav.responsive ul {
    display: block;
    padding-left: 1rem;
  }
  header > nav.responsive ul li {
    display: flex;
    text-align: left;
  }

}